# Maven
/target/
pom.xml.tag
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle
/build/

# IDE files
.idea/
*.iml
.settings
.project
.classpath

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local